- let year = (new Date()).getFullYear()
.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      i.fas.fa-music
      | Carl Wallis Music
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
        span.glyphicon.glyphicon-asterisk.availability 
            | Place available for 
            !=year
      .social-list(class=(title === 'Contact') ? 'active' : undefined)
        div.social-container
          .floating-buttons
              a(href="https://www.facebook.com/carlwallismusic/")
                  .facebook
                      i.fab.fa-facebook-f
              a(href="http://m.me/carlwallismusic/")
                  .facebook-message
                      i.fas.fa-comments
              a(href="mailto:c.wallis11@outlook.com?subject=Music Tuition")
                  .email
                      i.fas.fa-envelope
              a(href="tel:+447884945531")
                  .phone
                      i.fas.fa-phone
              a(href="https://www.youtube.com/user/carl89uk/videos")
                  .youtube
                      i.fab.fa-youtube

.scroll-to-top.button.btn
    a(href='#top')
            span.glyphicon.glyphicon-arrow-up


.hide-map#hideMap
    a(href='#map').btn.btn-primary Hide map