extends layout

block content
  - var aosdelay = "0.5"
  - var aosanimation = "slide-up"
    .blog-slider(style="height:auto;")
        .blog-slider__wrp.swiper-wrapper
            .blog-slider__item.swiper-slide
                .blog-slider__img   
                    img.grayscale-img(src="/images/guitar.jpg" alt="")
                .blog-slider__content
                    .blog-slider__title Carl Wallis Music
                    .blog-slider__text(style="font-size: 1.8em") Get in touch
                    .contact-icons-page                    
                        a(href="https://www.facebook.com/carlwallismusic/")
                            .facebook
                                i.fab.fa-facebook-f
                                .blog-slider__text Facebook  
                        a(href="http://m.me/carlwallismusic/")
                            .facebook-message
                                i.fas.fa-comments
                                .blog-slider__text Facebook Messenger 
                        a(href="mailto:c.wallis11@outlook.com?subject=Music Tuition")
                            .email
                                i.fas.fa-envelope
                                .blog-slider__text c.wallis11@outlook.com
                        a(href="tel:+447884945531")
                            .phone
                                i.fas.fa-phone
                                .blog-slider__text +447884945531
                        a(href="https://www.youtube.com/user/carl89uk/videos")
                            .youtube
                                i.fab.fa-youtube
                                    .blog-slider__text Youtube

