extends layout

block content
  - var aosdelay = "0.5"
  - var aosanimation = "slide-up"
    .container.contact
        .contact-details 
            p(style="font-size: 1.8em") Get in touch
            .contact-icons-page                    
                a(href="https://www.facebook.com/carlwallismusic/").flex-contact
                    .facebook
                        i.fab.fa-facebook-f
                        a Facebook  
                a(href="http://m.me/carlwallismusic/")
                    .facebook-message
                        i.fas.fa-comments
                        a Messenger 
                a(href="mailto:c.wallis11@outlook.com?subject=Music Tuition")
                    .email
                        i.fas.fa-envelope
                        a c.wallis11@outlook.com
                a(href="tel:+447884945531")
                    .phone
                        i.fas.fa-phone
                        a +447884945531
                a(href="https://www.youtube.com/user/carl89uk/videos")
                    .youtube
                        i.fab.fa-youtube
                        a Youtube

