extends layout
block content
  - var aosdelay = "3"
  - var aosanimation = "fade-up"
  main.body
    nav.nav
        .header
            .title 
                blockquote 
                    em Professional Music Tuition By Carl Wallis
                
                    .contact-icons
                        a(href="https://www.facebook.com/carlwallismusic/")
                                .facebook
                                i.fab.fa-facebook-f
                        a(href="http://m.me/carlwallismusic/")
                            .facebook-message
                                i.fas.fa-comments
                        a(href="mailto:c.wallis11@outlook.com?subject=Music Tuition")
                            .email
                                i.fas.fa-envelope
                        a(href="tel:+447884945531")
                            .phone
                                i.fas.fa-phone
                        a(href="https://www.youtube.com/user/carl89uk/videos")
                            .youtube
                                i.fab.fa-youtube
                
                    .quick-links
                        a(href="#info")
                            p Home 
                        a(href="#tuition")
                            p Vocal 
                        a(href="#tuition/1")
                            p Trumpet
                        a(href="#tuition/2")
                            p Guitar
                        a(href="#tuition/3")
                            p School
                        a(href="#faq")
                            p FAQ
                        a(href="#recordings")
                            p Recordings
                        
    .content#fullpage
        .section.info
            .intro
                .text 
                    .slide.text-container
                        blockquote I am a musician 
                                    br
                                    b & music teacher 
                                    strong offering group and individual lessons based in West Yorkshire. 
                                    p With a background in both popular and classical music I have a broad range of knowledge to help you unleash your full musical potential within a realistic timeframe.     
                    .slide
                        .container.contact
                            .contact-details 
                                p(style="font-size: 3.8em") Get in touch
                                .contact-icons-page                    
                                    a(href="https://www.facebook.com/carlwallismusic/")
                                        .facebook
                                            i.fab.fa-facebook-f 
                                        b Facebook  
                                    a(href="http://m.me/carlwallismusic/")
                                        .facebook-message
                                            i.fas.fa-comments 
                                        b Messenger 
                                    a(href="mailto:c.wallis11@outlook.com?subject=Music Tuition")
                                        .email
                                            i.fas.fa-envelope 
                                        b c.wallis11@outlook.com
                                    a(href="tel:+447884945531")
                                        .phone
                                            i.fas.fa-phone 
                                        b +447884945531
                                    a(href="https://www.youtube.com/user/carl89uk/videos")
                                        .youtube
                                            i.fab.fa-youtube 
                                        b Youtube
                    .slide
                        blockquote Perhaps you’ve always wanted to write simple songs on an acoustic guitar;
                            em Explore the smouldering gypsy swing of Django Reinheirt or dedicate yourself to complex neoclassical shred guitar.
                            em Maybe you’ve got a good sense of pitch but always wanted to sing songs in the style of Mariah Carey but couldn't hit the notes.
                    .slide
                        blockquote I am happy to work within your capabilities 
                        blockquote & can also help with vocal technique's such as increasing range and eliminating strain via breathing exercises and posture. 
                    .slide
                        blockquote I am always open to learning new styles;
                                em I have a professional recording equipment if you would like to record your compositions or covers producing top quality stems suited to industry professionals. 
                    .slide
                        blockquote I can help you gain the best possible takes; 
                             em along with double tracking and harmonising to execute your songs in the required format prior to mixing and mastering. 
                    .slide
                        blockquote I am familiar with trinity rock and pop and associated board grades 1 to 8 helping with preparation towards exams if you choose to go down the academic route or just want to play for fun. 


        .section.details(data-anchor="tuition")
                .scroll-cert-1.slide
                    .scroll-content
                        blockquote 
                            em Vocal
                        -vocalCerts
                            ul.cert-details
                                each cert in  vocalCerts
                                    li
                                        != cert.imageElement 
                                        em
                                            != cert.description 

                .scroll-cert-2.slide
                    .scroll-content
                        blockquote
                            em Trumpet
                        -trumpetCerts
                            ul.cert-details
                                each cert in trumpetCerts
                                    li
                                        != cert.imageElement 
                                        em 
                                            != cert.description
                        
                

                .scroll-cert-3.slide
                    .scroll-content
                        blockquote
                            em Guitar
                        -guitarCerts
                            ul.cert-details
                                each cert in guitarCerts
                                    li
                                            != cert.imageElement
                                            em 
                                                != cert.description


                .scroll-cert-4.slide
                    .scroll-content
                        blockquote Whole Class Primary School Tuition
                        b  DBS checked and on the update service.
                        b  Relevant Public Liability Insurance.
                .scroll-cert-5.slide
                    .scroll-content
                        strong You are welcome to view my lessons 
                            em  to see if they are right for your school prior to booking a term.
                .scroll-cert-6.slide
                    .scroll-content
                        em  I can provide whole class music tuition for years 1 to 6 and provide lesson plans tailored to suit school resources and required learning objectives whether Ukulele, guitar, singing, brass or percussion. 
                        em  I normally split lessons into 40 min sessions for each class but am flexible with regards to timescale if you require PPA Cover.
                .scroll-cert-6.slide
                    .scroll-content
                        strong  Contact for more details
                            em  I will always work towards an end goal such as a concert or curriculum based objective. I can raise the standard of music in school and generate interest in both classical and popular music amongst pupils. 
                            em  I currently charge £140 per day or £75 per half a day. 

        .section.faq(data-anchor="faq")
            blockquote.container.title FAQ
            .slide
                .question-section
                    strong What services do you offer?
                    blockquote I offer lessions in guitar, bass guitar, singing, trumpet, music theory and composition from beginner to advanced.             
            .slide
                .question-section
                    blockquote DBS checked and on the update service. 
                        em Relevant Public Liability Insurance. 
                        //em You are welcome to view my lessons to see if they are right for your school prior to booking a term. I normally split lessons into 40 min sessions for each class but am flexible with regards to timescale if you require PPA Cover. I will always work towards an end goal such as a concert or curriculum based objective. I can raise the standard of music in school and generate interest in both classical and popular music amongst pupils.
            .slide 
                .question-section 
                    blockquote I can provide whole class music tuition for years 1 to 6 and provide lesson plans tailored to suit school resources and required learning objectives whether 
                        em Ukulele, 
                        em guitar, 
                        em singing, 
                        em brass 
                        b or 
                        em percussion. 
            
            .slide
                .question-section
                    strong What areas do you serve?
                    blockquote
                        #map
            .slide
                .question-section
                    strong  How much do your lessons cost?
                    blockquote I offer very competative prices 
                        em on hourly and half-hour lessions and can usually find a rate to suit any level of experience or budget. I currently charge £140 per day or £75 per half a day for PPA cover.
            .slide
                .question-section
                    strong What are your hours?
                    blockquote I have no set hours 
                        em or days and am happy to find a time, 
                        em day and frequency of lessions to suits the individuals needs.             
        .section.recordings(data-anchor="recordings")
                    .slide
                        .lazyload.lazyYT(data-youtube-id="05-CAapozKs" data-width="100%"  data-height="85%" data-parameters="autoplay=0&showinfo=0&controls=0" data-src="http://img.youtube.com/vi/05-CAapozKs/hqdefault.jpg")
                    .slide
                        .lazyload.lazyYT(data-youtube-id="K0zjFXxVopI" data-width="100%"  data-height="85%" data-parameters="autoplay=0&showinfo=0&controls=0" data-src="http://img.youtube.com/vi/K0zjFXxVopI/hqdefault.jpg")
                    .slide
                        .lazyload.lazyYT(data-youtube-id="e1XTO-EURCU" data-width="100%"  data-height="85%" data-parameters="showinfo=0&controls=0" data-src="http://img.youtube.com/vi/e1XTO-EURCU/hqdefault.jpg")
                    .slide
                        .lazyload.lazyYT(data-youtube-id="sVLFCgFHbI4" data-width="100%"  data-height="85%" data-parameters="autoplay=0&showinfo=0&controls=0" data-src="http://img.youtube.com/vi/sVLFCgFHbI4/hqdefault.jpg")
                    .slide
                        .lazyload.lazyYT(data-youtube-id="aPE8uSOoylM" data-width="100%"  data-height="85%" data-parameters="autoplay=0&showinfo=0&controls=0" data-src="http://img.youtube.com/vi/9cmxyhFReU8/hqdefault.jpg")
