doctype html
html#main
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Carl Wallis Music
    link(rel='shortcut icon', href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAgroaAK2PFwAk/+IAZ7hUALCkJQCt5qEANLMXAHStFwAQyZ4AuLJJAKOWXwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiuwAAAAAAAlWqEAAAAAAlWhFGAAAAACERF0QAAAAAh3d3ZAAAAAAHd3AHAAAAAAAAAAcAAAAAAAAABwAAAAAAAAAHAAMAAAAAAAcAl3AAAAAABwd3mQAAAAAHd5MJAAAAAAd5AJAAAAAAB5AAAAAAAAAAAAAAD//wAA4f8AAMD/AACAfwAAgH8AAIB/AADDfwAA/38AAP9/AAD/dwAA/2MAAP9BAAD/BQAA/xsAAP8/AAD//wAA" type="image/x-icon")
    link(rel='stylesheet', href='/css/main.css')
    link(href="https://fonts.googleapis.com/css?family=El+Messiri|Monoto" rel="stylesheet") 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css")
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lazyyt/0.3.4/lazyYT.min.css')
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(src="/js/intersection-observer/intersection-observer.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-113167798-2")
    script(src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lazyyt/0.3.4/lazyYT.min.js")
    
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113167798-2')
      
      
  body
    <div id="ie-content" class="hidden">
    <div class="cover"> </div> <span class="cover-text">This website does not support Internet Explorer.</span>
    <span class="cover-desc">To get in contact please click <a href="http://m.me/carlwallismusic/">here</a> </span>
    <div class="social-list active ie-fill"><div class="social-container"><div class="floating-buttons" style="left: -2em;"><a href="https://www.facebook.com/carlwallismusic/"><div class="facebook"><i class="fab fa-facebook-f"></i></div></a><a href="http://m.me/carlwallismusic/"><div class="facebook-message"><i class="fas fa-comments"></i></div></a><a href="mailto:c.wallis11@outlook.com?subject=Music Tuition"><div class="email"><i class="fas fa-envelope"></i></div></a><a href="tel:+447884945531"><div class="phone"><i class="fas fa-phone"></i></div></a><a href="https://www.youtube.com/user/carl89uk/videos"><div class="youtube"><i class="fab fa-youtube"></i></div></a></div></div></div> <div class="cover-top"></div> </div>
    </div>
 
    include partials/header
    .sliding-background
    .page-border
      include partials/flash

      block content

    include partials/footer
    script(src='/js/lib/bootstrap.js')
    script(src='/js/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js')
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script( async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQPLW2qAGRM3XwpGdQtePWygZQzEg10vw&callback=initMap")
    script.
        $(document).ready(function () {
         
          var swiper = new Swiper('.blog-slider', {
              spaceBetween: 30,
              effect: 'fade',
              loop: true,
              mousewheel: {
                invert: false,
              },
              pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
              }
            });
          function initMap() {
              // The location 
              var uluru = {lat: -25.344, lng: 131.036};
              // The map
              var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 2, center: uluru});
              // The marker
              var marker = new google.maps.Marker({position: uluru, map: map});
          }
        });
        AOS.init();
        $(document).ready(function(){
          $('.lazyYT').lazyYT();
          lazyload();
        })
       
      
      