doctype html
html#main
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Carl Wallis Music
    link(rel='shortcut icon', href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAgroaAK2PFwAk/+IAZ7hUALCkJQCt5qEANLMXAHStFwAQyZ4AuLJJAKOWXwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiuwAAAAAAAlWqEAAAAAAlWhFGAAAAACERF0QAAAAAh3d3ZAAAAAAHd3AHAAAAAAAAAAcAAAAAAAAABwAAAAAAAAAHAAMAAAAAAAcAl3AAAAAABwd3mQAAAAAHd5MJAAAAAAd5AJAAAAAAB5AAAAAAAAAAAAAAD//wAA4f8AAMD/AACAfwAAgH8AAIB/AADDfwAA/38AAP9/AAD/dwAA/2MAAP9BAAD/BQAA/xsAAP8/AAD//wAA" type="image/x-icon")
    link(rel='stylesheet', href='/css/main.css')
    link(href="https://fonts.googleapis.com/css?family=El+Messiri|Monoto" rel="stylesheet") 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css")
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lazyyt/0.3.4/lazyYT.min.css')
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.min.css")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    //- script(src="/js/intersection-observer/intersection-observer.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-113167798-2")
    script(src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lazyyt/0.3.4/lazyYT.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.extensions.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/vendors/scrolloverflow.min.js")
    
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113167798-2')
  body 
    include partials/header
    include partials/flash
      block content
    
    include partials/footer
    script(src='/js/main.js')
    script(src='/js/lib/bootstrap.js')
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQPLW2qAGRM3XwpGdQtePWygZQzEg10vw&callback=initMap" )
    script.

        function initMap() {
            // The location 
            var uluru = {lat: 53.644548, lng: -1.725866};
            // The map
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 9, center: uluru});
            // The marker
            var marker = new google.maps.Marker({position: uluru, map: map});

            var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lat: 53.644548, lng: -1.725866},
            radius: 15000
          });

        }
  
        
        $(document).ready(function(){
          AOS.init();
          $('.lazyYT').lazyYT();
          lazyload();
        $('#fullpage').fullpage({
            //options here
            licenseKey: 'D8C1D91F-48574EC0-AA4559CD-F253FC63',
            anchors:['info', 'tuition', 'faq', 'recordings'],
            //Scrolling
            css3: true,
            scrollingSpeed: 700,
            autoScrolling: true,
            fitToSection: true,
            fitToSectionDelay: 1000,
            scrollBar: false,
            easing: 'easeInOutCubic',
            easingcss3: 'ease',
            loopBottom: false,
            loopTop: false,
            loopHorizontal: true,
            continuousVertical: true,
            continuousHorizontal: true,
            scrollHorizontally: true,
            interlockedSlides: false,
            dragAndMove: true,
            offsetSections: false,
            resetSliders: false,
            fadingEffect: true,
            normalScrollElements: '#element1, .element2',
            scrollOverflow: true,
            scrollOverflowReset: false,
            scrollOverflowOptions: null,
            touchSensitivity: 15,
            normalScrollElementTouchThreshold: 5,
            bigSectionsDestination: null,

            //Accessibility
            keyboardScrolling: true,
            animateAnchor: true,
            recordHistory: true,

            //Design
            controlArrows: true,
            verticalCentered: true,
            sectionsColor : ['#000', '#000', '#000'],
            paddingTop: '0',
            paddingBottom: '10px',
            fixedElements: '#header, .footer',
            responsiveWidth: 0,
            responsiveHeight: 0,
            responsiveSlides: false,
            parallax: false,
            parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},

            //Custom selectors
            sectionSelector: '.section',
            slideSelector: '.slide',

            lazyLoading: true,
        });
 
        //methods
        $.fn.fullpage.setAllowScrolling(true);
        })
    script#__bs_script__
      //<![CDATA[
          document.write("<script async src='http://HOST:8000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
      //]]>
   
      
      