@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";



// // Buttons
// // -------------------------

// // Forms
// // -------------------------

// // Alerts
// // -------------------------

// // Text
// // -------------------------
// .title{
//   font-size: 3em;
//   text-align: center;
//   background-color: #565656;
//   color: white;
//   text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
//   -webkit-background-clip: text;
//   -moz-background-clip: text;
//   background-clip: text;
//   font-weight: 900;
//   border-bottom: 0.1em #5f8db8 solid;
//   border-bottom: 0.1em #5f8db8 solid;
//   background: rgba(0, 0, 0, 0.7);
//   &.header {
//     font-size: 1.5em;
//     background: rgba(0, 0, 0, 0.61);
//     @media only screen
//       and (min-device-width : 1025px)
//     {
//       position: relative;
//       top: 7em;
//     }
//   }
//   &.instrument{
//     position: relative;
//     margin-top: -1.5em;
//   }
//   &.school{
//     border-top-left-radius: 0.5em;
//     border-top-right-radius: 0.5em;
//     font-size: 1.5em;
//   }
//   &.FAQ{
//     border-top-left-radius: 0.5em;
//     border-top-right-radius: 0.5em;
//     font-size: 1.5em;
//     position: relative;
//     top: -1.5em;
//     margin-bottom: 2em;
//     margin-left: -0.7em;
//     margin-right: -0.7em;
//     @media only screen
//       and (min-device-width : 1025px)
//     {
//       margin-bottom: 0;
//     }
//   }
// }

// .contact-details {

//   border-bottom-left-radius: 1em;
//   border-bottom-right-radius: 1em;
//   background: rgba(95, 141, 184, 0.41);
//   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
//   min-width: 91%;

//   margin-bottom: 3em !important;
//   img{
//     margin: 0 !important;
//   }
//   @media only screen
//   and (min-device-width : 1025px)
//   {
//   padding: 1em;
//   max-width: 100%;
//   }
// }

// .text {
//   padding: 1em;
  
//   border-bottom-left-radius: 1em;
//   border-bottom-right-radius: 1em;
//   background: rgba(95, 141, 184, 0.41);
//   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
//   margin: 0 !important;
//   margin-bottom: 3em !important;
//   &.header {
//     margin-top: -4.3em !important;
//   }
//   &.question{
//     border-radius: 1em 1em 0em 1em;
//     background-color: rgba(207, 216, 225, 0.91);
//     margin-bottom: 1em !important;
//     width: 80%;
//     position: relative;
//     margin-left: auto !important;
//   }
//   &.answer{
//     border-radius: 0em 1em 1em 1em;
//     margin-bottom: 1em !important;
//     margin-right: auto !important;
//     width: 80%;
//     position: relative;
//     &#map{
//       min-height: 15em;
//       img{
//         border-radius: 0;
//         max-width: 100%;
//         box-shadow: unset;
//       }
//     }
//   }
// }
// // Images
// // -------------------------
// .lazyload.lazyYT.lazyYT-video-loaded{
//   width: 100% !important;
// }

// img, .lazyYT-image-loaded {
//   border-top-left-radius: 1em;
//   border-top-right-radius: 1em;
//   display: flex !important;
//   width: 100% !important;
//   width: 22.5em;
//   margin: auto !important;
//   &.image-contact {
//     margin:0 !important;
//     width:100%;
//   }
// @media only screen
// and (min-device-width : 1025px)
//   {
//   min-width: 100%;
//   max-height: 45vh;
//   }
// }

// @media only screen
// and (min-device-width : 1025px)
//   {
//     .max-width{
//       min-width: 45%;
//     }
 
//   }

// img{
//   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
// }
// .lazyYT-image-loaded{
//   border-radius: 0;
//   flex: 0 1 auto; 
//   max-height: 100%;
//   min-height: 300px;
//   width:100%;
// }

// .image-content {
//   top:-4.3em;
//   position: relative;
// }

// // Icons
// // -------------------------
// .contact-icons{
//   display:flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   align-items: stretch;
//   height: auto;
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   background-color: #00000080;
//   a {
//     font-size: .75em !important;
//     width: 20%;
//     padding-top: 7px;
//   }
// }
// .contact-icons-page {
//   text-align: center;
//   line-height: 2em;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
// .quick-links{
//   display:flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   align-items: stretch;
//   height: auto;
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
//   background-color: #00000080;
//   a {
//     font-size: .5em !important;
//     width: 20%;
//     padding-top: 7px;
//     flex: 0 0 auto;
//     border-radius: 0 !important;
//     p{
//       //transform: rotate(90deg);
//       top: .5em;
//       position: relative;
//     }
//   }
// }
// .certs-container{
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   -webkit-overflow-scrolling: touch;
//   -ms-overflow-style: -ms-autohiding-scrollbar; 
//   margin-bottom: 0.5em;
//   border-bottom-left-radius: 1em;
//   border-bottom-right-radius: 1em;
//   background: rgba(95, 141, 184, 0.41);
//   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
//   padding-bottom: 1em;
// .certs-grid {
//     flex: inherit;
//     max-width: 45%;
//     text-align: center;
//     margin: auto;
//     font-size: 1em;
//     overflow: unset;
//     min-height: 13em;
//     padding-top: 1em;
//     img {
//       padding: 1em;
//       background: rgba(0, 0, 0, 0.48);
//       box-shadow: unset;
//       margin: 0 !important;
//     }
//   }
//   .cert-description{
//     background: rgba(0, 0, 0, 0.48);
//     border-bottom-left-radius: 1em;
//     border-bottom-right-radius: 1em;
//     color: white;
//     min-height: 5em;
//     padding: 0 0.5em;
//   }
// }

// .scroll-to-top{
//   left: 50%;
//   font-size: 1em;
//   background-color: #1501014d;
//   line-height: 2em;
//   width: 2em;
//   text-align: center;
// }

// // Navbar
// // -------------------------
// .nav {
//   left: 0;
//   background-color: black;
// }
// .navbar-light {
//   border: 0;
//   box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
//   background: #000;
//   opacity: 0.7;
//   max-height: 8vh;
//   .navbar-nav {
//     width: 100%;
//     margin: 0;
//     > li > a {
//       font-size: 1.5em;
//       font-weight: 750;
//       text-transform: uppercase;
//       transition: all 0.2s linear;
//       padding-top: 10px;
//       padding-bottom: 10px;
//     }
//     .nav-link {
//       color: white;
//       padding-left: 15px;
//       padding-right: 15px;
//     }
//   }
//   .navbar-brand {
//     color: white ;
//     line-height: 20px;
//     padding-top: 15px;
//     padding-bottom: 15px;
//   }
//   .navbar-toggler {
//     border-bottom-color: #333333;
//     color: white;
//     background-color: white !important;
//   }
//   .navbar-toggler:focus {
//     background: rgb(221, 221, 221);
//   }

//   .navbar-toggler:hover {
//     background: rgb(221, 221, 221);
//   }
// }
// .navbar-collapse{
//   padding: 0 !important;
//   margin: 0;
//   background-color: black;
// }
// .navbar-toggler-icon {
//   color: rgb(221, 221, 221);
// }

// .dropdown-item {
//   > a {
//     color: black;
//     text-decoration: none;
//   }
// }

// .dropdown-menu {
//   left: initial;
//   right: 0; /* add right with 0 or a low pixel value */
// }



// .navbar-expand-md .navbar-nav {
//   justify-content: center;
//   display: flex;
//   flex-direction: row;
// }

// @media only screen and (max-width: 600px) {
//   .navbar-light {
//     opacity: 0.7;
//   }
// }

// @keyframes slideInFromTop {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

// // Scroll to top
// // -------------------------
// .scroll-to-top{
//   cursor: pointer;
//   position: fixed;
//   bottom: 4em;
//   z-index: 9999;
//   border-radius: 25%
// }


// // Social icons
// // -------------------------
// .social-list {
//   position: fixed;
//   display: inline-flex;
//   right: calc(5% + 2em);
// }

// @media only screen and (max-width: 600px) {
//   .social-list {
//     position: inherit;
//     right: inherit;
//     margin-top: 0;
//     justify-content: center;
//     width: 100%;
//   }
//   .social-container {
//     justify-content: center;
//   }
// }

// .social-container{
//     display: flex;
//     top: -0.6em;
// }


// .floating-buttons{
//   text-align: center;
//   cursor: pointer;
//   display: inline-flex;
//   font-size: 1.5em;
//   .content-buttons{
//     display: contents;
//   }
//   div{
//     margin: 5px;
//   }
//   .facebook {
//     border-radius: 50%;
//     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     width: 1.5em;
//     .fa-facebook-f {
//       color: white;
//       border-radius: 50%;
//     }
//   }
//   .floating-buttons .hoverable{
//     color: pink;
//     background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
//   }
//   .facebook-message {
//     border-radius: 50%;
//     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     width: 1.5em;
//     .fas.fa-comments {
//       color: white;
//       border-radius: 50%;
//     }
//   }
//   .youtube {
//     border-radius: 50%;
//     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     width: 1.5em;
//     .fab.fa-youtube {
//       color: white;
//       border-radius: 50%;
//       padding-left: 5px;
//     }
//   }
//   .email {
//     border-radius: 50%;
//     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     width: 1.5em;
//     .fas.fa-envelope {
//       color: white;
//       border-radius: 50%;
//       padding-left: 5px;
//     }
//   }
//   .phone {
//     border-radius: 50%;
//     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     width: 1.5em;
//     .fas.fa-phone {
//       color: white;
//       border-radius: 50%;
//       padding-left: 5px;
//     }
//   }
// }



// // Title
// // -------------------------


// // Top info
// // -------------------------


// // Instrument Images
// // -------------------------


// // Contact
// // -------------------------



// // Availability
// // -------------------------
// .availability{
//   animation: blinker 5s linear infinite;
//   position: -webkit-sticky !important; /* Safari */
//   position: sticky !important;
//   top: 3em !important;
//   z-index: 100;
//   color:white;
//   margin: 0.5em 2em;
//   font-size: 1.2em;
//   @media screen and (max-width: 768px) {
//     margin: 0;
//     font-size: .75em;
//     margin-bottom: 1em;
//   }
// }
// .glyphicon-asterisk::before {
//  color: white;
 
 
// }
// @keyframes blinker {
//   50% {
//     opacity: 0;
//   }
// }


// Links
// -------------------------
:root {
  --mainColor: 'fff79e';
}

a:not(.nav-link) {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color:whitesmoke;
  text-decoration: none;
  transition: background-size .2s;
  min-width: 3em;
}

a:hover {
  background-size: 4px 50px;
  color: wheat !important;

}


@font-face {
font-family: 'Sketch Block';
src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot');
src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
     url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff') format('woff'),
     url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf') format('truetype'),
     url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold') format('svg');
}

@font-face {
font-family: 'Museo 700';
src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot');
src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.woff') format('woff'),
     url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
     url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.svg#SketchBlockBold') format('svg');
}

@font-face {
font-family: 'CallunaRegular';
src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot');
src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.woff') format('woff'),
     url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.ttf') format('truetype'),
     url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
}


blockquote {
    width: 250px;
    font: 2.65em CallunaRegular;
    font-size: 14.5px;
    letter-spacing: .075em;
    float: left;
    padding: 45px 0 30px 25px;
    min-width: 75%;
    margin: 0 2em;
    border-top: 2px dotted #858585;
    border-bottom: 2px dotted #858585;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.container:before {
    content: "“";
    font-size: 3em;
    position: absolute;
    left: -100px;
    color: #666;
}

.container:after {
    content: "”";
    font-size: 3em;
    position: absolute;
    right: -100px;
    top: 150px;
    color: #666;
}

    blockquote:first-line {
        font: 1em "Sketch Block";
        color: #fff79e;
    }

    blockquote:first-letter {
        font-size: 2.9em;
        text-transform: uppercase;
        float: left;
        line-height: .52em;
        margin-right: 5px;
        position: relative;
        z-index: 1;
    }

    blockquote strong:first-child {
        margin-left: 8px;
        letter-spacing: 0;
    }

    blockquote strong:last-child {
        font: 2em "Museo 700";
        text-transform: lowercase;
        letter-spacing: 0;
    }

    blockquote em {
        border-bottom: 2px dotted #858585;
    }

    blockquote + b {
        float: right;
        margin-top: 10px;
        font: 1.6em CallunaRegular;
        letter-spacing: .15em;
    }

    blockquote + b:first-letter {
        color: #fff79e;
        font-size: 1.3em;
        font-style: italic;
        letter-spacing: .25em;
    }

    @-moz-document url-prefix() { 

        blockquote:first-letter {
            margin-top: -29px;
        }

    }