@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";

//Background
// --------------------------
body {
  font-family: 'Tangerine', serif;
  text-align: center;
  display: inline-block;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  
  50% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  
  100% {
    -webkit-filter: blur(30px);
    filter:  blur(30px);
  }
}

.sliding-background{
  background: url("../../../images/top_banner.png");
   height: 100%;
   width: 100%;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  position: fixed;
  top: 0;
}



@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
  to { background-position: 100% 0; }
  
}
canvas {
  animation: animatedBackground 15s linear alternate-reverse;
}
#animate-area	{ 
  height: 100vh !important; 
  position:sticky;
  top: 0;
  left: 0;
	background-image: url("../../../images/top_banner.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 21px;
  text-align: center;
  -webkit-transition: opacity 10s ease-in;
     -moz-transition: opacity 10s ease-in;
      -ms-transition: opacity 10s ease-in;
       -o-transition: opacity 10s ease-in;
          transition: opacity 10s ease-in;
}
.blurred-box{
  position: relative;
  flex: content;
  width: 100%;
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.blurred-box:after{
 content: '';
 width: 120%;
 height: 100%;
 background: inherit; 
 position: absolute;
 left: 0;
 left: position;
 right: 0;
 top: -25px;  
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5);
 z-index:-1;
 background-color: white;
opacity: 0.4;
border-radius: 1em;
animation: filter-animation 30s linear;
}
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  
  50% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  
  100% {
    -webkit-filter: blur(30px);
    filter:  blur(30px);
  }
}
#animate-area.load{
  opacity: 0.75;
}

.page-border{
  // margin-top: 5em;
  width: 100%;
}
@media only screen and (min-width:1025px) {
  .page-border{
    // margin: 5em 20em 0 20em;
  }
}

// Buttons
// -------------------------

.btn {
  border-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11), 1px 1px 0 rgba(255, 255, 255, 0.21) inset;
  color: black;
  &:focus {
    outline: none;
  }
}

.btn-link {
  box-shadow: none;
}

.btn-raised, .btn-raised:focus, .btn-raised:active, .btn-raised:hover {
  color: rgb(51, 51, 51);
  background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
  border-color: rgb(204, 204, 204);
}

.button{
  background: white;
  color:white;
  border-radius: 100%;
  left: 50%;
  z-index:999;
  * {
    display: inline-block;
  }
  opacity: 0.5;

}

// Forms
// -------------------------

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-light {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  opacity: 0.9;
  .navbar-nav {
    > li > a {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.2s linear;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .nav-link {
      color: black;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .navbar-brand {
    color: $navbar-light-color;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-toggler {
    border-bottom-color: rgb(221, 221, 221);
    color: rgb(51,51,51);
  }
  .navbar-toggler:focus {
    background: rgb(221, 221, 221);
  }

  .navbar-toggler:hover {
    background: rgb(221, 221, 221);
  }
}

.navbar-toggler-icon {
  color: rgb(51,51,51);
}

.dropdown-item {
  > a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu {
  left: initial;
  right: 0; /* add right with 0 or a low pixel value */
}

@media only screen and (max-width: 600px) {
  .navbar-light {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-cert {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  //height: 400px;
  max-height: 35em;
  transition: all .3s;
  margin: auto auto 0.5em auto;
}

.certs-grid{
  display: inline-flex;
  width: 100%;
  span {
    margin: 1em 
  }
  img {
    max-width: 10%
  }
}
.certs-grid-alt{
  display: inline-flex;
  width: 100%;
  flex-direction: row-reverse;
  span {
    margin: 1em 
  }
  img {
    max-width: 10%
  }
}
.float-guitar-img {
  width: 300px;
  flex-shrink: 0;
  //height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 1);
  border-radius: 20px;
  transform: translate(40em, -30em);
  overflow: hidden;
  iframe {
    position: relative;
    z-index: 50;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.float-guitar-img:after {
  content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
border-radius: 20px;
opacity: 0.4;
z-index: 1;
}
.guitar-info-image {
  border-radius: 1em 1em 0 0;
  max-width: 100%;
  position: relative;
    // transform: translate(25em, -30em);
}

.float-trumpet-img {
  width: 300px;
  flex-shrink: 0;
  //height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 1);
  border-radius: 20px;
  transform: translate(-10em, -21em);
  overflow: hidden;
  iframe {
    position: relative;
    z-index: 50;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.float-trumpet-img:after {
  content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
border-radius: 20px;
opacity: 0.4;
z-index: 1;

}
.trumpet-info-image {
  border-radius: 1em 1em 0 0;
  max-width: 100%;
  position: relative;
  z-index: 500;
    // transform: translate(25em, -30em);
}

// Scroll to top
// -------------------------
.scroll-to-top{
  cursor: pointer;
  position: fixed;
  bottom: 4em;
  z-index: 9999;
  border-radius: 25%
}

// Hide map
// -------------------------
.hide-map{
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 0.5em;
  left: 0.2em;
  z-index: 9999;
  border-radius: 25%
}


// Floating icons
// -------------------------
.social-list {
  position: fixed;
  display: inline-flex;
  right: calc(5% + 2em);
}
@media only screen and (min-width:1025px) {
  .social-list {
    right: calc(20% + 2em);
  }
}

@media only screen and (max-width: 600px) {
  .social-list {
    position: inherit;
    right: inherit;
    margin-top: 2em;
  }
  .social-container {
    justify-content: center;
  }
}

.social-container{
    display: flex;
    top: -0.6em;
}


.floating-buttons{
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5em;
  .content-buttons{
    display: contents;
  }
  div{
    margin: 5px;
  }
  .facebook {
    border-radius: 50%;
    background-color: #4267b2;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1.5em;
    .fa-facebook-f {
      color: white;
      background-color: #4267b2;
      border-radius: 50%;
    }
  }
  .floating-buttons .hoverable{
    color: pink;
    background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
    border-color: rgb(204, 204, 204);
  }
  .facebook-message {
    border-radius: 50%;
    background-color: #4267b2;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1.5em;
    .fas.fa-comments {
      color: white;
      background-color: #4267b2;
      border-radius: 50%;
    }
  }
  .youtube {
    border-radius: 50%;
    background-color: #ff0000;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1.5em;
    .fab.fa-youtube {
      color: white;
      background-color: #ff0000;
      border-radius: 50%;
      padding-left: 5px;
    }
  }
  .email {
    border-radius: 50%;
    background-color: #0078d7;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1.5em;
    .fas.fa-envelope {
      color: white;
      background-color: #0078d7;
      border-radius: 50%;
      padding-left: 5px;
    }
  }
  .phone {
    border-radius: 50%;
    background-color: #0078d7;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1.5em;
    .fas.fa-phone {
      color: white;
      background-color: #0078d7;
      border-radius: 50%;
      padding-left: 5px;
    }
  }
}
// Title
// -------------------------
iframe:after{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 20px;
  opacity: 0.4;
  z-index: 1;
}

// Top info
// -------------------------
.more-detail-about.hidden {
  display: none;
}

.detail-about {
  text-align: center;
  font-size: 1.5em;
}
.more-detail-about {
  text-align: center;
  font-size: 1.5em;
}
a.hidden{
  display: none;
}
p.hidden{
  display: none !important; 
}
// Instrument Images
// -------------------------
.instrument-image-L1 {
  margin-bottom: 1em;
}

.instrument-image-L1 img{
  width: 80%;
  border-radius: 50%;
  padding: 30px 15px 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 1em;
  cursor: pointer;
  z-index: 500;
  margin:auto;
  
}
.instrument-image-L1 img:hover{
  box-shadow:5px 33px 50px -14px gray
}

.instrument-container{
  margin-bottom: 20px;
}

.instrument-description{
  padding: 1em;
  //font-size: 2em;
  font-weight: 500
}

.icon-highlight{
  opacity: 1 !important;
  border: 1px solid yellow;
}

.icon-style {
  position: relative;

  display: inline-grid;
  transform: translate(2%, -84%) !important;
}
// .image-size{
//   width:10em;
//   margin:auto;
// }

// Q&A
// -------------------------
.faq{
  min-height: 27em !important;
  margin-bottom: 5em !important;
  margin-top: 1.5em !important;
}
.faq-translate{
  transform: translate(2%, -15%) !important;

  @media only screen and (max-width: 600px) {
    transform: translate(2%, 7em)!important;
}
}
.faq-container{
  transform: translate(-4%, -68%);
  a {
    font-size: 1.5em;
  }
}
.faq-title {
  //transform: translate(-4%, -93%);
}
// .faq-display{
//   max-width: 95%;
//   margin: auto;
//   a, p {
//     padding: 1em;
//   }
// }

// Map
// -------------------------
#map {
  height: 400px; 
  max-height: 250px;
  width: 100%; 
  z-index: 500;
  position: relative;
}

.map-transform{
  transform: translate(60%, 20%);
  @media only screen and (max-width: 600px) {
    transform: translate(-2%, -11%);
  }
}

// Contact
// -------------------------
.contact-container {
  text-align: center;
  font-size: 1.5em;
}

.contact-detail {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .contact-detail {
    display: block;
    justify-content: center;
  }
}
.header-image{
  border-radius: 25%;
  max-width: 20em;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px 2px rgba(0, 0, 0, 0.19);
  margin-bottom: 3em;
}

.card {
  background-color: transparent !important;
}

.flex-tile{
  display: inline-flex;
  width:100%;
  flex-wrap: wrap;
  
  div {
    margin:auto;
  }
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
min-height: 100vh;
font-family: 'Fira Sans', sans-serif;
  display: flex;
}

.blog-slider {
    width: 95%;
  position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
  transition: all .3s;
  margin: auto auto 0.5em auto;
  
   
  @media screen and (max-width: 992px) {
    max-width: 680px;
        height: 400px;
  }
  
  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 8em auto 0.5em auto;
  }
  
  
  @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 350px;
  }
  
  &__item {
    display: flex;
    align-items: center;
    
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
    
    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
        transition-delay: .3s;
        }
      }
      .blog-slider__content {
        > * {
      
        opacity: 1;
        transform: none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.1 + 0.3s;
        }
      }

    }
      }
    }
    
  }
  
  &__img {
     // width: 40%;
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
   
    overflow: hidden;
    
    &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      border-radius: 20px;
    opacity: 0.4;
}
    
    img {
      width: 100%;
    height: 100%;
    object-fit: cover;
      display: block;
       opacity: 0;
      border-radius: 20px;
    transition: all .3s;
    }
    
    
    @media screen and (max-width: 992px) {
      // width: 45%;
    }
    @media screen and (max-width: 768px) {
    transform: translateY(-50%);
      width: 90%;
  }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
     @media screen and (max-height: 500px) and (min-width: 992px) {
        height: 270px;
  }
  }
  
  &__content {
    // width: 60%;
    padding-right: 25px;
    @media screen and (max-width: 992px) {
      // width: 55%;
    }
    @media screen and (max-width: 768px) {
          margin-top: -80px;
    text-align: center;
    padding: 0 30px;
    }
    
    @media screen and (max-width: 576px) {
      padding: 0
    }
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all .4s;
      
      
    }
    
  }
  
  &__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  
  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  &__button {
        display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
        justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
    
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    
}
  &__pagination {
   position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px!important;
    text-align: center;
    left: auto!important;
    top: 50%;
    bottom: auto!important;
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
     transform: translateX(-50%);
          left: 50%!important;
      top: 205px;
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    }
     &.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
       @media screen and (max-width: 768px) {
         margin: 0 5px;
       }
}
    
    .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
      transition: all .3s;
      &-active {
    opacity: 1;
    background: #fd3838;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
        
        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
}
}
    
  }
  
}

.grayscale-img {
  filter: grayscale(1);
  width: 44em !important;
  height: 100% !important;
}
.grayscale-img-alt {
  filter: grayscale(1);
  //width: 44em !important;
  height: 100% !important;
  padding: 3em;
}

.cw-music{
  font-size: 1.5em;
  font-weight: 700;
}

.ytube-video{
  display: none;
  @media only screen and (max-width: 600px) {
    display: inline-block
  }
}

.contact-icons {
  display: inline-flex;
  font-size: 1.5em;
}

.contact-icons-page {
  font-size: 1.5em;
}
